* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

button {

    cursor: pointer;
    border: 1px solid #663399;
    border-radius: .5em;
    background-color: #b280e4;
    color: #fff;
    font-size: 1em;
    padding: 1em 1.5em;
}

 button:hover {
    background: #3f5efb;
background: radial-gradient(circle, #4160fb 0%, #fc466b 100%);
 
}





// .btn-new{
//     display: flex;
//     justify-content: center;
//     padding: .5em 1em;
//     // border: 2px solid gray;
// }
// .btn-neww{
//     border: 2px solid gray;
//     background-color: lightslategray;
//     color: #fff;
//     // background-image: linear-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
// }
// .btn-neww:hover{
// background-image: linear-gradient(red, pink);
// }