*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #eeaeca;
    background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    font-size: larger;
    font-weight: 700;
    line-height: 2em;
    margin: 0 20%;
}